OS_CTL_IP=192.168.1.1

OS_ADMIN_IF=eth0
OS_DATA_IF=eth1
OS_ISCSI_IF=eth0
OS_ISCSI_VG=cinder-volumes
OS_NET_VLANS=100:199

MYSQL_PW=admin
OS_ADMIN_PW=admin
OS_GLANCE_PW=glance
OS_CINDER_PW=cinder
OS_NEUTRON_PW=neutron
OS_NOVA_PW=nova
